<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; @DateTime.Now.Year Final Year Project - Supply chan management</p>
            </div>

        </div>
    </div>
</footer>